#header {
    width: 100%;
    height: 80px;
    background-color: pink;
    text-align: center;
    color:#333;
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 20px ;
}
#list {
    flex: 1;
    background: pink;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #e9ecef;
}
ol {
    padding-left: 20px;
}
li {
    color: rgb(26, 28, 29);
    margin: 8px 0;
    padding: 5px;
}
h3 {
    text-align: center;
    color: #333;
}
#container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
body {
    background-image: url('c842b29557ffc36f3e8359c1d4185e04.jpg');
}
.watched { background: green;
     color: white;
 }
.watchBtn {
    cursor: pointer;
}